In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data = pd.read_csv('multimodal_validate.tsv', sep="\t")

In [3]:
data = data[['clean_title','id','2_way_label','3_way_label','6_way_label']]

In [4]:
path = "./images"
file_list = os.listdir(path)

In [5]:
data['id'] = data['id']+'.jpg'

In [6]:
img = pd.DataFrame(file_list)

In [7]:
img['이미지있음']=1

In [8]:
data

,clean_title,id,2_way_label,3_way_label,6_way_label
0,my xbox controller says hi,cypw96.jpg,1,0,0
1,new image from the mandalorian,d0bzlq.jpg,1,0,0
2,say hello to my little friend,d2ezoob.jpg,0,2,4
3,watch your step little one,cjqctpw.jpg,0,2,4
4,this tree i found with a solo cup on it,bq3yuk.jpg,1,0,0
...,...,...,...,...,...
59337,russian bid to influence brexit vote detailed ...,az1zlp.jpg,1,0,0
59338,nicaraguan bank sanctioned by us shuts down,bjb8g9.jpg,1,0,0
59339,this column and emergency light,737mcu.jpg,0,2,2
59340,so proud,c8gnd59.jpg,0,2,4
59341,i tried,dkhfq81.jpg,0,2,4

In [9]:
con=pd.merge(data,img,how='left',left_on='id',right_on=0)

In [10]:
con=con.dropna()

In [11]:
con['imgp_path'] = './images/'+con['id']

In [12]:
con=con[['clean_title','imgp_path','2_way_label','3_way_label','6_way_label']]

In [13]:
con.reset_index(drop=True,inplace=True)

In [14]:
con.to_csv('./cleaned_data.csv',index=False)